<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg {{bind-attr width=width}} height="44px" viewBox="0 0 940 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Marginal Spending</title>
    <defs></defs>
    <rect id="marginal-propensity-to-save-graph-bar" fill="#E37536" sketch:type="MSShapeGroup" y="0" {{bind-attr x=margin width=graphWidth}} height="60"></rect>
    <rect id="marginal-propensity-to-consume-graph-bar" fill="#E1F5D5" sketch:type="MSShapeGroup" {{bind-attr x=margin width=consumeBarWidth}} y="0" height="60"></rect>
</svg>