<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg {{bind-attr width=width height=height viewBox=viewBox}} version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  {{#each amount in amountsForGraph}}
  {{log amount.fill}}
  {{chart-bar amount=amount.value sum=sumOfAmounts totalWidth=width offset=amount.offset fill=amount.fill}}
  {{/each}}
</svg>

<p><strong>Value Created:</strong> {{format-currency sumOfAmounts}}</p>